* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-width: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header */
.header {
    background: var(--bg-color);
    left: 0;
    top: 0;
    padding: 2rem 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
.header a:hover{
    color: var(--main-color);
    cursor: pointer;
}
.logo {
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: default;
    font-weight: 600;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
    font-weight: bold;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    text-decoration: underline;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Home section */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-image img {
    width: 25vw;
    border-radius: 10rem;
    border: 7px solid var(--text-color);
    margin-left: 1rem;
    margin-top: 5rem;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.5;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.home-content a i{
    font-size: 2rem;
    font-weight: 700;
}
.bx-download{
    margin-left: .7rem;
}

.btn {
    display: inline-flex;
    background: var(--main-color);
    color: var(--second-bg-color);
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: .5s ease;
    margin: 2rem;
}
.btn:hover{
    box-shadow: none;
}
.center{
    margin-top: 5rem;
    margin-left: 40%;
}
/* About Section */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--second-bg-color);
}
.about-img img{
    width: 25vw;
    border-radius: 10rem;
    border: 7px solid var(--main-color);
    margin-left: 1rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.heading{
    align-items: center;
    font-size: 4.5rem;
}
.about-content h3 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
}

.tab-titles{
    display: flex;
    gap: 4rem;
}
.tab-titles p{
    font-size: 2.4rem;
}
.tab-links{
    margin-right: 5rem;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 5px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.tab-contents ul li span{
    color: var(--main-color);
    font-size: 2rem;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* Serviices section */

.services h2{
    margin-bottom: 5rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-container .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 4px solid var(--bg-color);
    transition: .5s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.2rem);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;
    font-weight: 700;
}
.service-box p{
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
    font-weight: 650;
}
.service-box .btn:hover{
    cursor: pointer;
}

/* Portfolio Design */
.portfolio{
    background-color: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width:100%;
    height: 300px;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
    opacity: 100;
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .3s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);  
}
.portfolio-layer h4{
    font-size: 2.6rem;
}
.portfolio-layer p{
    font-size: 1.36rem;
    margin: .3rem 0 1;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--text-color);
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.portfolio-layer a:hover{
    font-size: 2.2rem;
    color: var(--second-bg-color);
}

/* Contact section */

.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    cursor: pointer;
    margin-top: 2rem;
}

/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text a i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 0.5rem 2rem .5rem;
    transition: .5s ease;
}
.footer-text a i:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-text p{
    font-size: 1.6rem;
    margin: 1rem;
}
.footer-topIcon a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-topIcon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-topIcon a i{
    font-size: 2.6rem;
    color: var(--second-bg-color);
}

/* BreakPoints */

@media (max-width : 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width : 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .skills h2{
        margin-bottom: 7rem;
    }
    .portfolio h2{
        margin-bottom: 7rem;
    }
    .portfolio-box img{
        height: 200px;
    } 
    .contact{
        min-height: auto;
    }
}
@media (max-width : 774px){
    #menu-icons{
        display: block;
    }
    .navbar{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    } 
    .home-image img{
        width: 60vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 60vw;
        margin-top: 4rem;
    }
    .skills h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 7rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width : 614px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .portfolio-box img{
        height: 300px;
    }
}
@media (max-width : 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width : 365px){
    .home-image img{
        width: 80vw;
    }
    .about-img img{
        width: 80vw;
    }
    .footer{
        flex-direction: column-reverse;
        width: 123%;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}